body {
    background-color: #101010; 
    font-family: Arial, sans-serif;
  }

  .dashboard-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #0077ff;
  }
  
  .dashboard {
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #c0c0c0; 
    border-radius: 8px;
    background-color: #2d2d2d; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7); 
  }
  
  .dashboard h1 {
    color: #c0c0c0;
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .dashboard button {
    padding: 15px 30px;
    background-color: #c0c0c0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s ease;
  }

  .dashboard-button1 {
    margin-right: 20px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
  }
  .dashboard-button2 {
    margin-right: 20px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
  }
  
  .dashboard button:hover {
    background-color: #b0b0b0;
  }
  
  .dashboard button:focus {
    outline: none;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.7);
  }
  
  .shopping-cart-container h3 {
    color: #b4af5e;
}

.shopping-cart-container p {
    color: #bb9160;
}