/* login.css */
body {
  background-color: #101010; /* Black background */
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin-top: 100px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #c0c0c0; /* Silver border */
  border-radius: 8px;
  background-color: #2d2d2d; /* Dark Gray */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7); /* Soft shadow */
}

.login-container label
{
  color: #ffff;
}

h2 {
  color: #c0c0c0; /* Silver */
  font-size: 2.5em;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 250px;
  background-color: #333;
  color: white;
  border: 2px solid #555;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #c0c0c0;
}

button {
  padding: 10px 20px;
  background-color: #c0c0c0; /* Silver */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b0b0b0; /* Darker silver on hover */
}

button:focus {
  outline: none;
}

.error-message {
  color: #ff3333; /* Red error message */
}

.success-message {
  color: #66ff66; /* Green success message */
}
