.reservations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.reservations-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0077ff;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    background-color: white;

}

.search-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.reservations-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.reservations-table th,
.reservations-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reservations-table th {
    background-color: #333;
    color: white;
}

.reservations-table tr:nth-child(even) {
    background-color: #222;
}

.reservations-table tr:nth-child(odd) {
    background-color: #333;
}

.reservations-table tr:hover {
    background-color: #444;
}

